html,body,.container {
    height: 100%;
    width: 100%;
    color: $text;
}


body {
    background-image: url('../img/background-optimized.jpg');
    background-size: 1200px auto; 
    background-position: top left;
}               

.font { 
    &__roboto{
        font-family: 'Roboto', sans-serif;
    }
    &__proxima-nova {
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: -1px;
    }
    &__small {
        font-size: 14px;
    }
    &__extra-small {
        font-size: 12px;
    }
}

h5 {
    text-transform: capitalize;
    font-size: 14px;
}