$black: #080606;
$white: #fff;
$gray-f6: #f6f6f6;
$gray__stroke: #e0e0e0;

$text: $black;
$text__light: #8a8995;

$violet: #101022;
$violet__select: #292a48 ;

$status__green: #00cd46;
$status__yellow: #ffbc1b;
$status__red: #ff594f;

$star__select: #21233d;