/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "_colors";
@import "_base";

body.issue-tracker {
    background-image: url('../img/background-optimized.jpg');
    background-size: 1200px auto; 
    background-position: top left;
}

.window {
overflow: hidden;
    border-radius: 10px;
    width: 650px;
    height: 500px;
    box-shadow: 0px 0px 15px rgba(8, 6, 6, 0.5);
    display: flex;
    margin: 0 auto;
    align-self: center;
    min-width: 450px;
}

.container {
    position: relative;
    display: flex;
} 

.sidebar {
    background-color: $violet;
    min-width: 150px;
    height: 100%;
    position: relative;
    overflow: hidden;

    &__bg-blur {
        content: "";
        display: block;
        position: absolute;
        height: calc(100% + 20px);
        width: calc(100% + 20px);
        top: -10px;
        left: -10px;
        z-index: 10;
        background-image: url('../img/background-optimized.jpg');
        background-size: 1200px auto; 
        filter: blur(8px);
        opacity: 0.3;
    }

    .status {
        background-color: $violet;
        z-index: 50;
        position: relative;

        &__options {
            padding: 14px 15px;
        
            li {
                display: inline-block;
                margin-right: 7px;
            }
            button {
                padding: 0;
                border: 0;
                border-radius: 30px;
                width: 10px;
                height: 10px;
                transition: background-color 0.3s 0s ease;

            }
            &--close {
                background-color: $status__red;
                &:hover{
                    background-color: adjust-lightness($status__red, 20%);
                }
            }
            &--minimize {
                background-color: $status__yellow;
                &:hover{
                    background-color: adjust-lightness($status__yellow, 20%);
                }
            }
            &--maximize {
                background-color: $status__green;
                &:hover{
                    background-color: adjust-lightness($status__green, 20%);
                }
            }
        }
    }

    .filter {
        z-index: 50;
        position: relative;

        &__element {
            padding: 15px 17px;
            color: $white;
            position: relative;
            transition: background-color 0.3s 0s ease;
            cursor: pointer;
            
            &:hover {
                background-color: adjust-lightness($violet__select, 10%);
            }
            &:active {
                background-color: shade($violet__select, 10%);
            }
            > * {
                display: inline-block;
            }
            &--selected{ 
                background-color: $violet__select;
            }
            &__counter {
                color: rgba($white, 0.2);
                position: absolute;
                right: 15px;
                font-size: 14px;
            }
            &__icon {
                height: auto;
                width: 16px;
            }        
            h5 {
                vertical-align: top;
                margin-top: 2px;
                margin-left: 7px;
            }
        }
    }

}
.panel {
    width: 100%;
    background-color: $gray-f6;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px 5px 5px 10px;   
    min-width: 300px;

    .date-group{
        &__heading{
            display: none;            
            line-height: 25px;
            color: $text__light;

        }
    }
    &.by-date .date-group__heading {
        display: block;
    line-height: 25px;
    }

    .issue {
        background-color: $white;
        border-radius: 5px;
        border: 1px solid $gray__stroke;
        padding: 11px;
        position: relative;
        margin-bottom: 5px;
        
        &__star {
            width: 16px;
            position: absolute;
            right: 15px;
            vertical-align: middle;

            path {
                stroke: $gray__stroke;
                transition: all 0.5s 0.1s ease;
            }
        }
        h5 {
            display: inline-block;
        }
        &.issue--stared .issue__star path {
            stroke: none;
            fill: $star__select;
            transition: all 0.3s 0s ease;
        }
    } 

    
}

